
#headder {
  background-color: blue;
}
div p {
  color: red;
  font-size: 20px
}

#attention {
  color: red;
  font-size: 24px;
}

span {
  font-weight: bold;
}

label {
  font-size: 24px;
}

input {
  font-size: 24px;
}


#div-container {
  display: flex;
}

textarea {
  border: none;
  font-size: 20px;
}

#click-coordinatesX {
  width: 200px;
  color: red;
  margin-left: 50px;
}

#click-coordinatesY {
  width: 200px;
  color: blue;
}

button {
  cursor: pointer;
}

#get-xcoord {
  margin-left: 20px;
}

#get-ycoord {
  margin-left: 60px;
}
